// Facebook colors
$fb-blue-dark: #3b5998;
$fb-blue-med: #8b9dc3;
$fb-blue-light: #dfe3ee;
$fb-off-white: #f7f7f7;

// Google plus
$gp-red: #d34836;
$gp-grey-dark: #2d2d2d;
$gp-grey-light: #d2d2d2;
$gp-off-white: #f1f1f1;

// Whites
$white: #fff;
$white-t9: rgba(255, 255, 255, 0.9);
$white-t8: rgba(255, 255, 255, 0.8);
$white-t7: rgba(255, 255, 255, 0.7);
$white-t6: rgba(255, 255, 255, 0.6);
$white-t5: rgba(255, 255, 255, 0.5);
$white-t4: rgba(255, 255, 255, 0.4);
$white-t3: rgba(255, 255, 255, 0.3);
$white-t2: rgba(255, 255, 255, 0.2);
$white-t1: rgba(255, 255, 255, 0.1);

// Blacks
$black: rgb(58, 58, 58); // #3a3a3a
$black-t9: rgba(58, 58, 58, 0.9);
$black-t8: rgba(58, 58, 58, 0.8);
$black-t7: rgba(58, 58, 58, 0.7);
$black-t6: rgba(58, 58, 58, 0.6);
$black-t5: rgba(58, 58, 58, 0.5);
$black-t4: rgba(58, 58, 58, 0.4);
$black-t3: rgba(58, 58, 58, 0.3);
$black-t2: rgba(58, 58, 58, 0.2);
$black-t1: rgba(58, 58, 58, 0.1);
