
.flex--row {
    display: flex;
    flex-direction: row;
}

.flex--col {
    display: flex;
    flex-direction: column;
}

.flex--col-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex--col-sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex--col-cs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex--row-cc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex--row-sc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex--row-ss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}