@import 'typeface-variables.scss';

html,
body {
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Begin material design type classes */

.font-h1,
h1 {
  font-family: map-get($font-h1, font-family);
  font-weight: map-get($font-h1, font-weight);
  font-size: map-get($font-h1, font-size);
  letter-spacing: map-get($font-h1, letter-spacing);
}

@mixin font-h1 {
  font-family: map-get($font-h1, font-family);
  font-weight: map-get($font-h1, font-weight);
  font-size: map-get($font-h1, font-size);
  letter-spacing: map-get($font-h1, letter-spacing);
}

.font-h2,
h2 {
  font-family: map-get($font-h2, font-family);
  font-weight: map-get($font-h2, font-weight);
  font-size: map-get($font-h2, font-size);
  letter-spacing: map-get($font-h2, letter-spacing);
}

@mixin font-h2 {
  font-family: map-get($font-h2, font-family);
  font-weight: map-get($font-h2, font-weight);
  font-size: map-get($font-h2, font-size);
  letter-spacing: map-get($font-h2, letter-spacing);
}

.font-h3,
h3 {
  font-family: map-get($font-h3, font-family);
  font-weight: map-get($font-h3, font-weight);
  font-size: map-get($font-h3, font-size);
  letter-spacing: map-get($font-h3, letter-spacing);
}

@mixin font-h3 {
  font-family: map-get($font-h3, font-family);
  font-weight: map-get($font-h3, font-weight);
  font-size: map-get($font-h3, font-size);
  letter-spacing: map-get($font-h3, letter-spacing);
}

.font-h4,
h4 {
  font-family: map-get($font-h4, font-family);
  font-weight: map-get($font-h4, font-weight);
  font-size: map-get($font-h4, font-size);
  letter-spacing: map-get($font-h4, letter-spacing);
}

@mixin font-h4 {
  font-family: map-get($font-h4, font-family);
  font-weight: map-get($font-h4, font-weight);
  font-size: map-get($font-h4, font-size);
  letter-spacing: map-get($font-h4, letter-spacing);
}

.font-h5,
h5 {
  font-family: map-get($font-h5, font-family);
  font-weight: map-get($font-h5, font-weight);
  font-size: map-get($font-h5, font-size);
  letter-spacing: map-get($font-h5, letter-spacing);
}

@mixin font-h5 {
  font-family: map-get($font-h5, font-family);
  font-weight: map-get($font-h5, font-weight);
  font-size: map-get($font-h5, font-size);
  letter-spacing: map-get($font-h5, letter-spacing);
}

.font-h6,
h6 {
  font-family: map-get($font-h6, font-family);
  font-weight: map-get($font-h6, font-weight);
  font-size: map-get($font-h6, font-size);
  letter-spacing: map-get($font-h6, letter-spacing);
}

@mixin font-h6 {
  font-family: map-get($font-h6, font-family);
  font-weight: map-get($font-h6, font-weight);
  font-size: map-get($font-h6, font-size);
  letter-spacing: map-get($font-h6, letter-spacing);
}

.font-subtitle-1,
subtitle-1 {
  font-family: map-get($font-subtitle-1, font-family);
  font-weight: map-get($font-subtitle-1, font-weight);
  font-size: map-get($font-subtitle-1, font-size);
  letter-spacing: map-get($font-subtitle-1, letter-spacing);
}

@mixin font-subtitle-1 {
  font-family: map-get($font-subtitle-1, font-family);
  font-weight: map-get($font-subtitle-1, font-weight);
  font-size: map-get($font-subtitle-1, font-size);
  letter-spacing: map-get($font-subtitle-1, letter-spacing);
}

.font-subtitle-2,
subtitle-2 {
  font-family: map-get($font-subtitle-2, font-family);
  font-weight: map-get($font-subtitle-2, font-weight);
  font-size: map-get($font-subtitle-2, font-size);
  letter-spacing: map-get($font-subtitle-2, letter-spacing);
}

@mixin font-subtitle-2 {
  font-family: map-get($font-subtitle-2, font-family);
  font-weight: map-get($font-subtitle-2, font-weight);
  font-size: map-get($font-subtitle-2, font-size);
  letter-spacing: map-get($font-subtitle-2, letter-spacing);
}

.font-body-1,
body-1 {
  font-family: map-get($font-body-1, font-family);
  font-weight: map-get($font-body-1, font-weight);
  font-size: map-get($font-body-1, font-size);
  letter-spacing: map-get($font-body-1, letter-spacing);
}

@mixin font-body-1 {
  font-family: map-get($font-body-1, font-family);
  font-weight: map-get($font-body-1, font-weight);
  font-size: map-get($font-body-1, font-size);
  letter-spacing: map-get($font-body-1, letter-spacing);
}

.font-body-2,
body-2 {
  font-family: map-get($font-body-2, font-family);
  font-weight: map-get($font-body-2, font-weight);
  font-size: map-get($font-body-2, font-size);
  letter-spacing: map-get($font-body-2, letter-spacing);
}

@mixin font-body-2 {
  font-family: map-get($font-body-2, font-family);
  font-weight: map-get($font-body-2, font-weight);
  font-size: map-get($font-body-2, font-size);
  letter-spacing: map-get($font-body-2, letter-spacing);
}

.font-button {
  font-family: map-get($font-button, font-family);
  font-weight: map-get($font-button, font-weight);
  font-size: map-get($font-button, font-size);
  text-transform: map-get($font-button, text-transform);
  letter-spacing: map-get($font-button, letter-spacing);
}

@mixin font-button {
  font-family: map-get($font-button, font-family);
  font-weight: map-get($font-button, font-weight);
  font-size: map-get($font-button, font-size);
  text-transform: map-get($font-button, text-transform);
  letter-spacing: map-get($font-button, letter-spacing);
}

.font-caption {
  font-family: map-get($font-caption, font-family);
  font-weight: map-get($font-caption, font-weight);
  font-size: map-get($font-caption, font-size);
  letter-spacing: map-get($font-caption, letter-spacing);
}

@mixin font-caption {
  font-family: map-get($font-caption, font-family);
  font-weight: map-get($font-caption, font-weight);
  font-size: map-get($font-caption, font-size);
  letter-spacing: map-get($font-caption, letter-spacing);
}

.font-overline {
  font-family: map-get($font-overline, font-family);
  font-weight: map-get($font-overline, font-weight);
  font-size: map-get($font-overline, font-size);
  text-transform: map-get($font-button, text-transform);
  letter-spacing: map-get($font-overline, letter-spacing);
}

@mixin font-overline {
  font-family: map-get($font-overline, font-family);
  font-weight: map-get($font-overline, font-weight);
  font-size: map-get($font-overline, font-size);
  text-transform: map-get($font-button, text-transform);
  letter-spacing: map-get($font-overline, letter-spacing);
}

/* End material design type classes */

/* Begin utility classes */

.font-sans {
  font-family: map-get($font-overline, font-family);
}

.font-sansN4 {
  @extend .font-sans;
  font-style: normal;
  font-weight: $fontWeight-4;
}

.font-sansN7 {
  @extend .font-sans;
  font-style: normal;
  font-weight: $fontWeight-7;
}

.font-sansI4 {
  @extend .font-sans;
  font-style: italic;
  font-weight: $fontWeight-4;
}

.font-sansI7 {
  @extend .font-sans;
  font-style: italic;
  font-weight: $fontWeight-7;
}

.text-align-c {
  text-align: center;
}

.text-align-l {
  text-align: left;
}

.text-align-r {
  text-align: right;
}

.text-align-j {
  text-align: justify;
}

/* End utility classes */
